// .text-danger : color: #dc3545!important;
// .text-warning : color: #ffc107!important;
// .text-success : color: #28a745!important;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// ...........................................................

// background color
.light-red {
  background: #ff00000f;
}
.bg-light-warning {
  background: #ffe493 !important;
}
.bg-light-yellow {
  background: #f9eecd !important;
}
// ...........................................................

// border
.border-green-5 {
  border: 2px solid #abcbb2;
  border-radius: 5px;
}
// ...........................................................

// common things
.centeringBody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shown {
  visibility: visible !important;
}
.hidden {
  visibility: hidden !important;
}

.none {
  display: none !important;
}
.block {
  display: block !important;
}
// ...........................................................

// distance
.gap-5 {
  gap: 5%;
}
// ...........................................................

//height
.h-90 {
  height: 90px !important;
}
.h-280 {
  height: 280px !important;
}
.max-h-400 {
  max-height: 400px !important;
}
// ...........................................................

//margin
.mb-100 {
  margin-bottom: 100px !important;
}
// ...........................................................

//tag
img,
video {
  width: 100%;
  transition: 0.7s ease;
}
a {
  text-decoration: none !important;
  color: unset;
}
pre {
  font-family: inherit;
}
// ...........................................................

//tag style
a:hover {
  color: #28a745;
}
a:hover img {
  opacity: 0.8;
}
.text-left {
  text-align: left !important;
}
.overflow-h {
  overflow: hidden !important;
  // ...........................................................
}

// text color
.text-placeholder {
  color: #7c7c7c;
}
// ...........................................................

// text size
.fs-35 {
  font-size: 35px;
}
.fs-45 {
  font-size: 45px;
}
.fs-7 {
  font-size: 0.875rem !important;
}
// ...........................................................

// text weight
.font-weight-bold {
  font-weight: bold;
}
// ...........................................................

//position
.right-15 {
  right: 15px;
}
// ...........................................................

//width
.max-w-300 {
  max-width: 300px;
}

.max-w-460 {
  max-width: 460px;
}
.fit-content {
  width: fit-content !important;
  height: fit-content !important;
}
// ...........................................................

.inputValidation {
  border-color: #dc3545;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(../images//validation.svg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.inputValidation:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

@media (min-width: 992px) {
  .max-w-900 {
    max-width: 900px;
  }
}
