.uploadIcon {
  color: #28a745;
  font-size: 30px !important;
  transition: 0.5s ease !important;
}
.uploadIcon:hover {
  color: #329449;
}

.css-hdw1oc {
  display: none !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  display: block !important;
  padding: 6px 14px !important;
  padding-right: 30px !important;
  text-align: left !important;
  font-size: 14px !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.375rem !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

// .notranslate span {
//   display: none;
// }
.notranslate:after {
  content: "Choose Genre";
  color: #7c7c7c;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background: #dff6e4 !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background: #f8f7dc !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 14px !important;
  display: block !important;
  min-height: auto !important;
  padding: 10px 16px !important;
}
.css-6hp17o-MuiList-root-MuiMenu-list {
  height: 170px !important;
  padding: 0 !important;
}
.uploaded-files {
  width: 100%;
  min-height: 150px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  padding: 7px;
  padding-right: 45px;
}
.uploaded-files img,
.uploaded-files video {
  height: 128px;
  width: 180px;
  margin: 5px;
}
.uploaded-files video {
  object-fit: fill;
}

.uploadIconLable {
  position: absolute;
  right: 11px;
  top: 5px;
}

.mw-840 {
  max-width: 840px !important;
}

.deleteIcon {
  right: 10px;
  top: 5px;
  z-index: 1;
}

.deleteIcon svg:hover {
  color: #329449;
}

.inputPlaceholder {
  user-select: none;
  color: #7c7c7c;
}
