.recipeImgContainer {
  max-width: 200px;
  margin: 10px auto 20px;
}
.recipe-card {
  transition: 0.5s ease;
  // cursor: pointer;
}
.recipe-card:hover {
  box-shadow: 0 0 0 0.25rem #28a74540 !important;
}
.card-p {
  height: 40px;
}

.css-dqr9h-MuiRating-label{
display: inline;
}
